<!-- home.component.html -->
<div
  class="min-h-screen bg-gradient-to-br from-teal-200 via-gray-100 to-white-500 flex flex-col items-center justify-center p-6"
>
  <div class="max-w-5xl text-center space-y-6 mt-20">
    <h1 class="text-4xl font-bold text-gray-800">
      Organize your day. Focus on what matters.
    </h1>
    <p class="text-gray-600 text-lg">
      Plan your tasks and achieve your goals with your personal Todo List.
    </p>

    <button
      class="px-8 py-4 bg-gradient-to-r from-blue-600 via-gray-200 to-red-600 text-white font-semibold rounded-xl hover:opacity-90 transition"
      routerLink="/auth"
    >
      Get Started
    </button>
  </div>

  <div class="mt-12 flex overflow-x-auto space-x-8 p-4 scrollbar-hide">
    <img
      src="../../assets/Teamwork productivy.gif"
      alt="todo animation"
      class="w-80"
    />
    <img
      src="../../assets/c.gif"
      alt="todo animation"
      class="w-80 rounded-2xl"
    />
    <img
      src="../../assets/todo.gif"
      alt="todo animation"
      class="w-80 rounded-2xl"
    />
  </div>
</div>
